* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container{
    /* largura maxima */
    max-width: 1024px; 
    /* deve ocupar 100% da largura maxima */
    width: 100%;
    /* centraliza-lo na horizontal */
    margin: 0 auto;
}

header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: white;
}

header > .container,
footer > .container  {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    /* corrigir problema de concorrencia com o slider */
    z-index: 1;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    /* colocar item menu um ao lado do outro */
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
}
.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 48px;
}

/* Aplica o estilo a cada 3ยบ <li> a partir do 2ยบ */
.lista-veiculos li:nth-child(3n+2) {
    margin: 0 5%;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 12px 0;
}

/* .item-central {
    margin: 0 5%;
} */

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:rgb(0, 170, 80);
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color:tomato;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input, 
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}